<ion-header>

  <ion-navbar>
    <ion-title>{{hobbieCategory.category | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card *ngFor="let hobby of hobbieCategory.hobbies; let i = index">
    <ion-card-header>#{{ i+1 }}</ion-card-header>
    <ion-card-content>
      <p class="hobby-name">{{hobby.name}}</p>
      <p>{{hobby.description}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col text-right>
          <button 
            ion-button
            clear
            small
            (click)="onAddToFavourite(hobby)"
            *ngIf="!isFavourite(hobby)">Favourite</button>
          <button 
            ion-button
            clear
            small
            color="danger"
            (click)="onRemoveFromFavourites(hobby)"
            *ngIf="isFavourite(hobby)">Remove from favourites</button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
